table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 10px;
  
}

td,
th {
    border: 1px solid #0b0a0a;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #b0b8b4;
}
div.section{
    display:flex
}